* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#background {
  box-shadow: inset 0 0 0 5px lightgrey;
}
/*Top navigation menu*/

header {
  position: sticky;
  top: 0;
}

nav {
  background-color: teal;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  list-style: none;
  line-height: 500%;
}

nav ul li a {
  display: block;
  color: navy;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

nav ul li a:hover {
  background-color: orange;
}

.inpage {
  flex-grow: 1;
}

#blank {
  flex-grow: 4;
}

#mer {
  flex-grow: 2;
}

/*General text formatting*/

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1% 2%;
}

.subflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#gymnastik {
  flex-basis: 85%;
}

h1 + p,
p + h3,
p + p {
  margin-top: 2%;
}

h3 {
  line-height: 2;
  color: rgb(129, 129, 129);
}

/* Media formatting*/
#fullrudy {
  flex-basis: 12%;
  order: 0;
}
#skollogga {
  float: right;
}

#test2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  width: 50%;
}

#test {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  width: 50%;
}
